{% extends '::base.html.twig' %}
{% form_theme edit_form 'MedicineTrackerBundle:Form:ayush_test.html.twig' %}

{% block body -%}
<div class="container-fluid">
    	<h1 class="page-header">Edit Patient Information</h1>

    	<div>
    		{{ form(edit_form) }} {# {{ form(delete_form) }} #}
    	</div>
    	<div class="container">
    		<a href="{{ path('patient') }}" class="btn btn-info" role="button"> Back to the list </a>
    	</div>
    	
	</div>
{% endblock %}
