{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container-fluid">
        <h1>Search By Name</h1>
        
        {{ form_start(search_form) }}
        {{ form_widget(search_form) }}
        {{ form_end(search_form) }}
    </div>

    




{% endblock %}
