{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2">
              <ul id="sidebar" class="nav nav-stacked">
                <li>Table of Contents</li>
                <li><a href="#home">Home</a></li>
                <li><a href="#active_inactive_patients">Active/Inactive Patients</a></li>
                <li><a href="#show_button">Show Button</a></li>
                <li><a href="#patient_information">Patient Information</a></li>
                <li><a href="#create_entry">Create Entry</a></li>
                <li><a href="#active_list">Active List</a></li>
                <li><a href="#inactive_list">Inactive List</a></li>
        </ul>
      </div>
    <div class="col-sm-10">
        <div class="alert alert-success" role="alert">
           <p><strong>Welcome to Patient Medication Tracker!</strong><br> This web application will assist you to keep track of patients who have received their medications. Please read below to understand features of this application.</p>
        </div>
        
        <div id="home">
            <h2>Home</h2>
            <p>This page displays all the patients that have been added to the system. This list shows patient <strong>Name</strong> and status of the entry: <strong>Active/Inactive</strong> in order of addition to the system. The patient list is displayed in tabular form with <a href="#" class="btn btn-info" role="button">show</a> action next to each patient. The user could further view all the medication information by clicking show button for the specific patient.</p>

            <p>For easy search of patient, user could enter keywords in the search bar and it will narrow down the
                list. Also, Medicine Tracker allows users to retrieve the patient information in pdf/ csv/ excel
                form simply by clicking the buttons in the top left end above the list. </p>

            <p> At the bottom of the page, user could create a new patient entry by clicking <a href="#" class="btn btn-info" role="button">Create a new entry</a>
        </div>

        <div class="alert alert-danger" role="alert">
            <p><strong>Important!</strong><br> When creating a new patient, do not forget to check the "Is active"
                option. This will allow patient to be visible on the home screen list.</p>
        </div>
        <hr>

        <div id="active_inactive_patients">
            <h2>Active/ Inactive Patients</h2>
            <p>This system strictly follows "no delete" rule on user level. Thus, any value entered always remain stored and could be retrieved at any time. Therefore, to remove a user, follow this path: Show > Edit Patient Name > isActive off/on. This will simply prevent user from displaying in the system. This will not display the patient. To display the patient again, simply turn "Is Active" ON.</p>
        </div>
        <hr>

        <div id="show_button">
            <h2> Show Button</h2>
            <p>On the homepage, when user clicks Show button next to the specific patient, it re-directs the user to Patient Information page which gives a detailed information of all the medications for the patient.</p>
        </div>
        <hr>

        <div id="patient_information">
            <h2>Patient Information</h2>
            <p>This page shows the detailed information of certain specified patient</p>
            <p>The different fields are:
                <ul>
                    <li>Prepared On</li>
                    <li>Number of Blisters</li>
                    <li>Delivered/Pick Up Date</li>
                    <li>Next Due On</li>
                    <li>Is Active</li>
                    <li>Edit Entry</li>
                </ul>
            </p>

            <p> Furthermore, User could create a new medication entry here for the patient by clicking <a href="#" class="btn btn-info" role="button">Add New Entry</a> Button. This will redirect the user to a form with all the required fields needed for the patient entry</p>
        </div>
        <hr>

        <div id="create_entry">
            <h2>Create Entry</h2>
            <p>This page allows user to add a new patient to the tracking system. Enter the name of the patient and turn the is active "on" to keep your newly created patient visible. When satisfied with all the information, click "Back to the list" to go back to the home page.</p>
        </div>
        <hr>

        <div id="active_list">
            <h2>Active List</h2>
            <p>This page displays a list of all the patients who have Is active turned ON.</p>
        </div>
        <hr>

        <div id="inactive_list">
            <h2>Inactive List</h2>
            <p>This page displays a list of all the patients who have Is Active turned OFF.</p>
        </div>
        <hr>

        </div>

       </div>
    </div>
<!-- Side Navigation Bar Ends -->
        
        

{% endblock %}
